*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
overflow: hidden;
height: 100%;
}


.parent
{
  
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.897);
    width: 700px;
    height: 500px;
    margin: 20px auto;
    bottom: -50px;
    position: relative;
    border: 2px solid red;
    border-radius: 10px;
    

   
   

}

.field
{

   border: rgb(192, 19, 19) solid 2px;
   border-radius: 8px;
   width: 20%;
   height: 40px;
   margin-bottom: 10px;
   margin-left: 10px;

}

.inputField
{
    
    padding: 15px;

}

.outputField{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    
    
   
}

.submitField button{
    margin: 20px;
    display: block;
    width: 20%;
    height: 40px;
    border: rgb(192, 19, 19) solid 2px;
   border-radius: 8px;


}


